html {overflow-y: scroll; min-height: 100%; -webkit-text-size-adjust: 100%;}
body { position: relative; margin: 0; word-wrap: break-word; font: normal 12px/16px Arial, Helvetica, sans-serif; color: #56595E;}
body#page {background: #EFEFEF; }
.width100 { width: 100%; margin: 0 auto; position;absolute;}
a:hover, a:active { outline: none; }
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary { display: block; }
h1, h2, h3, h4, h5, h6 { text-shadow: 0 1px #fff; margin: 0px 0 5px 0; }
h1 {font-size: 24px; line-height: 24px;	}
h2 {font-size: 20px; line-height: 20px; }
h3 {font-size: 16px; line-height: 16px; }
h4, h5, h6 { font-size: 14px; line-height: 14px;}
.wrapper {-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;margin: auto;width:1175px; }
#header { position: relative; margin-top: 0px; margin: 0 0 30px; 
	border: 1px solid;
	border-color: rgba(0,0,0,0.1);
	border-bottom-color: rgba(0,0,0,0.2);
	border-top: none;
	background: #f7f7f7;
	background: -webkit-linear-gradient(top, #f7f7f7, #f4f4f4);
	background: -moz-linear-gradient(top, #f7f7f7, #f4f4f4);
	background: -o-linear-gradient(top, #f7f7f7, #f4f4f4);
	background: linear-gradient(to bottom, #f7f7f7, #f4f4f4);
	background-clip: padding-box;
	border-radius: 0 0 5px 5px;}
.module { margin: 0 10px 10px; }
#system .item > header { margin-bottom: 15px; }
#system .item > :first-child + header { margin-top: 10px; }
#system .item > header .title { margin-bottom: 0; }
#system .item > header .meta {
	margin: 10px 0 0 0;
	font-size: 11px;
	line-height: 13px;}
#system .item > header .subtitle{
	margin: 0 0 8px 0;
	font-size: 14px;
	line-height: 16px;
	font-weight: normal;
	text-transform: uppercase;}
#system .item > .content > *:first-child:not(.grid-gutter),
#system .item > .content > *[class*="align"]:first-child + * { margin-top: 0; }
#system .item > .content > *:last-child:not(.grid-gutter) { margin-bottom: 0; }
#system .item > .links { margin: 22px 0 0 0; }
#system .item > .links a { margin-right: 15px; }
#system .item > *:last-child { margin-bottom: 0; }

.clearfix:before, .clearfix:after, .grid-block:before, .grid-block:after, .deepest:before, .deepest:after {content: ""; display: table;}
.clearfix:after, .grid-block:after, .deepest:after { clear: both; }
.grid-gutter.grid-block { margin: 0 -15px; }
.grid-gutter > .grid-box > * { margin: 0 15px; }
.grid-gutter > .grid-box > * > :first-child { margin-top: 0; }
.grid-gutter > .grid-box > * > :last-child { margin-bottom: 0; }

#logo, #logo > img{ float: left; }
#logo > img{margin:10px 30px 10px 10px;}
#banner {position: absolute;top: 5px;right: 10px;font-size:80%; line-height:13px;}
/*.grid-box { float: left; }*/
.module { position: relative; }
.module .badge {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;}
.module.mod-box .menu-sidebar li.level1 > .active.level1,
.module.mod-box .menu-sidebar li.level1 > .current.level1 { 
	border-color: #2D81CC;
	border-top-color: #4796E0;
	background: #3F96E5;
	background: -webkit-linear-gradient(top, #55A6F1, #3F96E5);
	background: -moz-linear-gradient(top, #55A6F1, #3F96E5);
	background: -o-linear-gradient(top, #55A6F1, #3F96E5);
	background: linear-gradient(to bottom, #55A6F1, #3F96E5);}
.module.mod-box .menu-sidebar li.level1.parent > .level1.active,
.module.mod-box .menu-sidebar li.level1.parent > .level1.current { border-bottom-color: #1f4566; }
.module.mod-box .menu-sidebar li.level1:last-child > .active.level1,
.module.mod-box .menu-sidebar li.level1:last-child > .current.level1 { border-bottom-color: #225989; }
.module.mod-box .menu-sidebar li.level1:first-child > .active.level1,
.module.mod-box .menu-sidebar li.level1:first-child > .current.level1 { border-top: 1px solid #4796E0; }

.module.mod-box-black .menu-sidebar li.level1 > .active.level1,
.module.mod-box-black .menu-sidebar li.level1 > .current.level1 { border-bottom-color: #1f4566; }

.module .badge {
	top: 9px; 
	right: 11px; 
	width: 42px;
	height: 25px;
	background-position: 0 0;
	background-repeat: no-repeat; }
form.style button,
form.style input[type="button"],
form.style input[type="submit"], 
.button-default,
.mod-box .button-default {
	border: 1px solid #E0E0E0;
	border-bottom-color: #CDCDCD;
	background: #f9f9f9;
	background: -webkit-linear-gradient(top, #f9f9f9, #f7f7f7);
	background: -moz-linear-gradient(top, #f9f9f9, #f7f7f7);
	background: -o-linear-gradient(top, #f9f9f9, #f7f7f7);
	background: linear-gradient(to bottom, #f9f9f9, #f7f7f7);
	box-shadow: inset 0px 1px 0 rgba(255,255,255,1);
	color: #444;}
form.style button:hover,
form.style input[type="button"]:hover,
form.style input[type="submit"]:hover,
.mod-box-color form.style button,
.mod-box-color form.style input[type="button"],
.mod-box-color form.style input[type="submit"], 
.button-default:hover,
.button-primary,
.mod-box .button-primary {
	border-width: 1px;
	border-style: solid;
	box-shadow: inset 0px 1px 0 rgba(255,255,255,0.2);
	text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
	color: #fff;}

form.style button:hover,
form.style input[type="button"]:hover,
form.style input.button:hover,
form.style #submit:hover,
.mod-box-color form.style button,
.mod-box-color form.style input[type="button"],
.mod-box-color form.style input.button,
.mod-box-color form.style #submit,
.button-default:hover,
.button-primary,
.mod-box .button-primary {
	border-color: #3990DB;
	border-bottom-color: #2F78B7;
	background: #59A8F3;
	background: -webkit-linear-gradient(top, #59A8F3, #479CEB);
	background: -moz-linear-gradient(top, #59A8F3, #479CEB);
	background: -o-linear-gradient(top, #59A8F3, #479CEB);
	background: linear-gradient(to bottom, #59A8F3, #479CEB);}

.mod-box {padding: 15px;
	border: 1px solid;
	border-color: rgba(0,0,0,0.1);
	border-bottom-color: rgba(0,0,0,0.2);
	border-radius: 5px;
	background: #f7f7f7;
	background: -webkit-linear-gradient(top, #f7f7f7, #f4f4f4);
	background: -moz-linear-gradient(top, #f7f7f7, #f4f4f4);
	background: -o-linear-gradient(top, #f7f7f7, #f4f4f4);
	background: linear-gradient(to bottom, #f7f7f7, #f4f4f4);
	background-clip: padding-box;
	box-shadow: inset 0px 1px 0 rgba(255,255,255,1);
	text-shadow: 0 1px 0 #fff;}

.mod-box .module-title {
	font-size: 15px;
	line-height: 15px;
	text-shadow: 0 1px 0 #fff;}

.deepest > *:first-child { margin-top: 0; }
.deepest > *:last-child { margin-bottom: 0; }
.module .module-title .icon {
	display: block; 
	position: relative;
	top: -6px;
	width: 30px;
	height: 30px;
	margin-right: 5px;
	overflow: hidden;
	float: left;}

.module .module-title { margin: 0 0 15px 0; }
.module .module-title span.title { display: block; }
.module .module-title span.subtitle {
	display: block;
	margin-top: 2px;
	line-height: 14px;
	font-size: 12px;
	text-indent: 1px;}
.mod-box-header.mod-box-color .module-title {
	border-bottom-color: #347FC3;
	background-color: #3C94E4;}
.module .module-title .icon {
	left: -5px;
	width: 25px;
	height: 25px;
	background-position: 0 0;
	background-repeat: no-repeat; }

form.style button:hover, form.style input[type="button"]:hover, form.style input.button:hover, form.style #submit:hover, .mod-box-color form.style button, .mod-box-color form.style input[type="button"], .mod-box-color form.style input.button, .mod-box-color form.style #submit, .button-default:hover, .button-primary, .mod-box .button-primary {
    background: linear-gradient(to bottom, #59A8F3, #479CEB) repeat scroll 0 0 transparent;
    border-color: #3990DB #3990DB #2F78B7;
}
form.style button:hover, form.style input[type="button"]:hover, form.style input[type="submit"]:hover, .mod-box-color form.style button, .mod-box-color form.style input[type="button"], .mod-box-color form.style input[type="submit"], .button-default:hover, .button-primary, .mod-box .button-primary {
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);
}
form.style button:hover, form.style input[type="button"]:hover, form.style input.button:hover, form.style #submit:hover, .mod-box-color form.style button, .mod-box-color form.style input[type="button"], .mod-box-color form.style input.button, .mod-box-color form.style #submit, .button-default:hover, .button-primary, .mod-box .button-primary {
    background: linear-gradient(to bottom, #59A8F3, #479CEB) repeat scroll 0 0 transparent;
    border-color: #3990DB #3990DB #2F78B7;
}
form.style button:hover, form.style input[type="button"]:hover, form.style input[type="submit"]:hover, .mod-box-color form.style button, .mod-box-color form.style input[type="button"], .mod-box-color form.style input[type="submit"], .button-default:hover, .button-primary, .mod-box .button-primary {
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);}
.button-default, .button-primary, .button-black {
    border-radius: 4px 4px 4px 4px;
    display: inline-block;
    font-size: 13px;
    padding: 3px 9px;}
.button-more, .button-default, .button-primary {display: inline-block;}
a {color: #4C9FEB;}
a, a:hover {    text-decoration: none;}
table {border-collapse: separate;}
table {border-collapse: collapse;border-spacing: 0;}
.mod-box {text-shadow: 0 1px 0 #FFFFFF;}
/*=-=-=-=-=*/
.mod-box-color form.style button:hover, .mod-box-color form.style input[type="button"]:hover, .mod-box-color form.style input[type="submit"]:hover, .button-primary:hover {
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.3);}
.mod-box-color form.style button:hover, .mod-box-color form.style input[type="button"]:hover, .mod-box-color form.style input.button:hover, .mod-box-color form.style #submit:hover, .button-primary:hover {
    background: linear-gradient(to bottom, #4690D0, #3381C5) repeat scroll 0 0 transparent;
    border-color: #317CBC #317CBC #29689D;}
.actprice{color:red;font-size:20px;font-weight:bold;text-align:center;}
.aligncenter{text-align:center;}
.aligncenter table{margin:0 auto;text-align:left;}
.regdom{text-transform:uppercase;font-weight:bold;font-size:150%;color:red;}
.regdom2{font-size:70%; margin-top:10px;}
.notice{font-size:80%; margin:0px auto;text-align:center;}